In [314]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [315]:
from jupyterthemes import jtplot
jtplot.style(theme='oceans16', context='notebook', grid=False, ticks=True)

In [316]:
import tensorflow as tf
gpus = tf.config.experimental.list_physical_devices('GPU')
for gpu in gpus:
    tf.config.experimental.set_memory_growth(gpu, True)

In [317]:
df1 = pd.read_csv('Data1.csv')
df1

,Well ID,S.No,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,Year,pH,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
0,W113126092431802,1,A&N Islands,South Andaman,PORT BLAIR,Kodiaghat,11.54500,92.74583,2021,7.74,...,NaN,175.0,34.00,22.00,10.00,0.00,0.84,NaN,206.00,4.8
1,W113616092411001,2,A&N Islands,South Andaman,PORT BLAIR,Sippighat,11.60250,92.73000,2021,7.53,...,NaN,250.0,52.00,29.00,51.00,1.00,0.28,NaN,381.00,6.4
2,W113640092443301,3,A&N Islands,South Andaman,PORT BLAIR,Brichganj,11.62083,92.73028,2021,7.50,...,NaN,125.0,4.00,28.00,10.00,1.00,0.46,NaN,151.00,BDL
3,W114421092422801,4,A&N Islands,South Andaman,FERRARGUNJ,Wimberleyganj,11.73250,92.70861,2021,7.60,...,NaN,135.0,26.00,17.00,15.00,2.00,0.37,NaN,198.00,0.4
4,W113955092391801,5,A&N Islands,South Andaman,FERRARGUNJ,Ograbraj,11.66361,92.65806,2021,7.82,...,NaN,465.0,56.00,79.00,336.00,18.00,0.95,NaN,1424.00,BDL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5370,W220500091040001,5371,Tripura,South Tripura,Satchand,Bijaynagar,22.9833333,93.8225,2021,7.63,...,NaN,60.0,10.01,8.49,23.00,3.83,0.21,NaN,154.80,NaN
5371,W235602091511501,5372,Tripura,Dhalai,Ambassa,Lalchari,23.9341639,91.85444444,2021,7.58,...,NaN,40.0,8.01,4.85,6.79,3.55,0.27,NaN,44.86,NaN
5372,W230605091513506,5373,Tripura,Gomti,Killa,Dewanbari,23.5577778,91.53527778,2021,7.49,...,NaN,75.0,14.01,9.70,18.15,2.45,0.36,NaN,88.11,NaN
5373,W240824092090501,5374,Tripura,Unakoti,Pecharthal,Karaicherra,24.14,92.15138889,2021,7.47,...,NaN,150.0,20.02,24.26,6.14,8.53,0.45,NaN,145.80,NaN
5374,W232915091240601,5375,Tripura,Gomti,Kankra-ban,Kankraban,23.4875,91.40194444,2021,7.47,...,NaN,45.0,8.01,6.06,19.96,4.54,0.25,NaN,80.35,NaN

In [318]:
df2 = pd.read_csv('Data2.csv',)
df2

,Well ID,S.No,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,Year,pH,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
0,W241837092093401,5376,Tripura,North Tripura,Panisagar,Deocherra,24.3102778,92.15972222,2021,7.29,...,NaN,50.0,8.01,7.28,9.52,4.00,0.2,NaN,82.37,NaN
1,W233416091232601,5377,Tripura,Sepahijala,Nalchar,Rajib Nagar,23.5711806,91.39055556,2021,7.28,...,NaN,25.0,6.00,2.42,3.75,3.13,0.25,NaN,24.83,NaN
2,W280057081240201,5378,Uttar Pradesh,Bahraich,Mihipurwa,Mihipurwa,28.0256,81.3836,2021,8.16,...,0,310.0,76.00,29.00,9.00,1.80,0.87,30,NaN,NaN
3,W272118081400001,5379,Uttar Pradesh,Bahraich,Huzurpur,Huzurpur,27.3528,81.6658,2021,7.82,...,0,250.0,52.00,29.00,15.00,3.50,0,27,NaN,NaN
4,W193819084255201,5380,Uttar Pradesh,Balrampur,Balrampur H.Q.,Balrampur,27.4286,82.1711,2021,7.61,...,0,250.0,68.00,19.00,14.00,2.70,0.25,32,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,NaN,7891,Tripura,South Tripura,Satchand,Sabroom,23.0062222,91.72361111,2021,8.11,...,NaN,50.0,16.01,2.42,14.43,1.76,0.34,NaN,62.27,NaN
2516,NaN,7892,Tripura,South Tripura,Rajnagar,Gaurangar bazar,23.0719444,91.387925,2021,8.08,...,NaN,45.0,10.01,4.85,6.26,1.42,0.31,NaN,44.65,NaN
2517,NaN,7893,Tripura,Unakoti,Kumarghat,Dumdum,24.129543,91.945197,2021,8.08,...,NaN,45.0,10.01,4.85,7.03,3.25,0.39,NaN,50.04,NaN
2518,NaN,7894,Tripura,Gomti,Killa,Noabari-2,23.5911111,91.51944444,2021,8.01,...,NaN,30.0,8.01,2.42,6.65,1.75,0.35,NaN,40.28,NaN
2519,NaN,7895,Tripura,Khowai,Kalyanpur,Kathalbari,23.9729528,91.60694444,2021,8.01,...,NaN,70.0,18.01,6.06,8.77,6.80,0.5,NaN,79.63,NaN

In [319]:
df3 = pd.read_csv('Data3.csv')
df3

,Well ID,S.No,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,Year,pH,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
0,NaN,7896,Tripura,North Tripura,Laljuri,Naba Joypara (Natun Basti),24.175,92.21638889,2021,8,...,NaN,95,22.02,9.70,5.93,3.94,0.69,NaN,107.80,NaN
1,NaN,7897,Tripura,Unakoti,Chandipur,Jarultali,24.2541667,91.98583333,2021,7.98,...,NaN,105,12.01,18.20,8.17,2.97,0.31,NaN,51.64,NaN
2,NaN,7898,Tripura,Unakoti,Kumarghat,Chandra- moni Kami,24.1119444,92.19833333,2021,7.91,...,NaN,105,26.02,9.70,10.51,6.40,0.63,NaN,120.40,NaN
3,NaN,7899,Tripura,North Tripura,Yubaraj-nagar,Krishnapur,24.3394444,92.15777778,2021,7.85,...,NaN,75,12.01,10.92,8.06,7.77,0.3,NaN,139.80,NaN
4,NaN,7900,Tripura,North Tripura,Yubaraj-nagar,Baghbassa,24.3518333,92.22194444,2021,7.84,...,NaN,60,14.01,6.06,13.00,2.89,0.29,NaN,68.63,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159,NaN,9055,West Bengal,South 24 Parganas,Sagar,Digambari (rudranagar),21.7008,88.1125,2021,8.53,...,NaN,235,26.00,41.00,122.00,4.20,0,NaN,521.00,9.28
1160,NaN,9056,West Bengal,South 24 Parganas,Sagar,Ganga Sagar,22.5558,88.5969,2021,8.48,...,NaN,175,24.00,28.00,120.00,3.80,0,NaN,460.00,0.49
1161,NaN,9057,West Bengal,South 24 Parganas,Sagar,Kochuberia rc jetty ghat,21.8544,88.2978,2021,8.48,...,NaN,170,14.00,33.00,135.00,4.60,0,NaN,496.00,0.02
1162,NaN,9058,West Bengal,South 24 Parganas,Sonarpur,Langalberia,22.3856,88.405,2021,8.71,...,NaN,285,56.00,35.00,32.00,5.20,0.12,NaN,378.00,0.2
1163,NaN,9059,West Bengal,South 24 Parganas,Sonarpur,Srirampur Tw,22.3931,88.4189,2021,8.74,...,NaN,265,30.00,46.00,132.00,5.40,0.14,NaN,572.00,0.1

In [320]:
df = pd.concat([df1, df2, df3], axis=0)

In [321]:
df

,Well ID,S.No,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,Year,pH,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
0,W113126092431802,1,A&N Islands,South Andaman,PORT BLAIR,Kodiaghat,11.54500,92.74583,2021,7.74,...,NaN,175.0,34.0,22.0,10.0,0.0,0.84,NaN,206.0,4.8
1,W113616092411001,2,A&N Islands,South Andaman,PORT BLAIR,Sippighat,11.60250,92.73000,2021,7.53,...,NaN,250.0,52.0,29.0,51.0,1.0,0.28,NaN,381.0,6.4
2,W113640092443301,3,A&N Islands,South Andaman,PORT BLAIR,Brichganj,11.62083,92.73028,2021,7.5,...,NaN,125.0,4.0,28.0,10.0,1.0,0.46,NaN,151.0,BDL
3,W114421092422801,4,A&N Islands,South Andaman,FERRARGUNJ,Wimberleyganj,11.73250,92.70861,2021,7.6,...,NaN,135.0,26.0,17.0,15.0,2.0,0.37,NaN,198.0,0.4
4,W113955092391801,5,A&N Islands,South Andaman,FERRARGUNJ,Ograbraj,11.66361,92.65806,2021,7.82,...,NaN,465.0,56.0,79.0,336.0,18.0,0.95,NaN,1424.0,BDL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159,NaN,9055,West Bengal,South 24 Parganas,Sagar,Digambari (rudranagar),21.7008,88.1125,2021,8.53,...,NaN,235.0,26.0,41.0,122.0,4.2,0,NaN,521.0,9.28
1160,NaN,9056,West Bengal,South 24 Parganas,Sagar,Ganga Sagar,22.5558,88.5969,2021,8.48,...,NaN,175.0,24.0,28.0,120.0,3.8,0,NaN,460.0,0.49
1161,NaN,9057,West Bengal,South 24 Parganas,Sagar,Kochuberia rc jetty ghat,21.8544,88.2978,2021,8.48,...,NaN,170.0,14.0,33.0,135.0,4.6,0,NaN,496.0,0.02
1162,NaN,9058,West Bengal,South 24 Parganas,Sonarpur,Langalberia,22.3856,88.405,2021,8.71,...,NaN,285.0,56.0,35.0,32.0,5.2,0.12,NaN,378.0,0.2
1163,NaN,9059,West Bengal,South 24 Parganas,Sonarpur,Srirampur Tw,22.3931,88.4189,2021,8.74,...,NaN,265.0,30.0,46.0,132.0,5.4,0.14,NaN,572.0,0.1

In [322]:
del df1, df2, df3

In [323]:
df.columns

Index(['Well ID', 'S.No', 'STATE', 'DISTRICT', 'BLOCK', 'LOCATION', 'LATITUDE',
       'LONGITUDE', 'Year', 'pH', 'EC', 'CO3', 'HCO3', 'Cl', 'SO4', 'NO3',
       'PO4', 'TH', 'Ca', 'Mg', 'Na', 'K', 'F', 'SiO2', 'TDS', 'U(ppb)'],
      dtype='object')

In [324]:
df['STATE'].unique()

array(['A&N Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam',
       'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat',
       'Haryana', 'Himanchal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
       'Kerala', 'Maharashtra', 'Meghalaya', 'Madhya Pradesh', 'Odisha',
       'Punjab', 'RAJASTHAN', 'TAMIL NADU', 'Telangana', 'Tripura',
       'Uttar Pradesh', 'Uttrakhand', 'West Bengal'], dtype=object)

In [325]:
sample_df = df[(df['STATE']=='TAMIL NADU') | (df['STATE']=='Telangana') | (df['STATE']=='Kerala') |
   (df['STATE']=='Andhra Pradesh')]
sample_df

,Well ID,S.No,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,Year,pH,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
67,W175430082071501,68,Andhra Pradesh,Visakhapatnam,GUDEM KOTHAVEEDI,Dharakonda,17.9083,82.1208,2021,6.8,...,N.A.,180.0,38.0,21.0,13.0,2.0,0.401,N.A.,NaN,NaN
68,W175300083260001,69,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-1,17.8833,83.4333,2021,7.2,...,N.A.,195.0,50.0,17.0,71.0,22.0,0.322,N.A.,NaN,NaN
69,W175300083260002,70,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-2,17.8833,83.4333,2021,7.3,...,N.A.,780.0,184.0,78.0,164.0,140.0,0.593,N.A.,NaN,NaN
70,W172255082461501,71,Andhra Pradesh,Visakhapatnam,NAKKALLI,Gurrajupeta,17.3819,82.7708,2021,7.21,...,N.A.,780.0,200.0,68.0,274.0,26.0,0.677,N.A.,NaN,NaN
71,W173030082400002,72,Andhra Pradesh,Visakhapatnam,KOTAURATLA,Purshotta Puram,17.5083,82.6667,2021,7.69,...,N.A.,310.0,64.0,36.0,175.0,11.0,1.59,N.A.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,NaN,7875,Telangana,Medak,Narsapur,Reddypalli,17.78,78.2586,2021,7.55,...,N.A.,245.0,46.0,32.0,70.0,6.1,0.83,N.A.,479.0,7.9
2500,NaN,7876,Telangana,Medak,Narsapur,Rajipet,17.8322,78.2608,2021,7.6,...,N.A.,165.0,46.0,12.0,27.0,0.6,0.55,N.A.,284.0,1.2
2501,NaN,7877,Telangana,Medak,Jinnaram,Solakapalli,17.6442,78.2797,2021,7.61,...,N.A.,155.0,40.0,13.0,7.1,0.3,0.56,N.A.,213.0,2
2502,NaN,7878,Telangana,Medak,Narsapur,Avancha,17.7244,78.2503,2021,7.9,...,N.A.,80.0,14.0,11.0,34.0,3.8,0.98,N.A.,188.0,1.5
2503,NaN,7879,Telangana,Medak,Medak,IMD Medak,18.0528,78.2739,2021,7.74,...,N.A.,80.0,22.0,6.1,82.0,2.8,1.38,N.A.,346.0,0

In [326]:
sample_df.columns

Index(['Well ID', 'S.No', 'STATE', 'DISTRICT', 'BLOCK', 'LOCATION', 'LATITUDE',
       'LONGITUDE', 'Year', 'pH', 'EC', 'CO3', 'HCO3', 'Cl', 'SO4', 'NO3',
       'PO4', 'TH', 'Ca', 'Mg', 'Na', 'K', 'F', 'SiO2', 'TDS', 'U(ppb)'],
      dtype='object')

In [327]:
sample_df.drop(['Well ID', 'S.No', 'Year'], axis=1, inplace=True)

/tmp/ipykernel_8615/3463048855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df.drop(['Well ID', 'S.No', 'Year'], axis=1, inplace=True)

In [328]:
sample_df.columns

Index(['STATE', 'DISTRICT', 'BLOCK', 'LOCATION', 'LATITUDE', 'LONGITUDE', 'pH',
       'EC', 'CO3', 'HCO3', 'Cl', 'SO4', 'NO3', 'PO4', 'TH', 'Ca', 'Mg', 'Na',
       'K', 'F', 'SiO2', 'TDS', 'U(ppb)'],
      dtype='object')

In [329]:
sample_df

,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
67,Andhra Pradesh,Visakhapatnam,GUDEM KOTHAVEEDI,Dharakonda,17.9083,82.1208,6.8,410.0,0.0,171.0,...,N.A.,180.0,38.0,21.0,13.0,2.0,0.401,N.A.,NaN,NaN
68,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-1,17.8833,83.4333,7.2,760.0,0.0,189.0,...,N.A.,195.0,50.0,17.0,71.0,22.0,0.322,N.A.,NaN,NaN
69,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-2,17.8833,83.4333,7.3,2650.0,0.0,695.0,...,N.A.,780.0,184.0,78.0,164.0,140.0,0.593,N.A.,NaN,NaN
70,Andhra Pradesh,Visakhapatnam,NAKKALLI,Gurrajupeta,17.3819,82.7708,7.21,2750.0,0.0,708.0,...,N.A.,780.0,200.0,68.0,274.0,26.0,0.677,N.A.,NaN,NaN
71,Andhra Pradesh,Visakhapatnam,KOTAURATLA,Purshotta Puram,17.5083,82.6667,7.69,1400.0,0.0,549.0,...,N.A.,310.0,64.0,36.0,175.0,11.0,1.59,N.A.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,Telangana,Medak,Narsapur,Reddypalli,17.78,78.2586,7.55,803.0,0,195.0,...,N.A.,245.0,46.0,32.0,70.0,6.1,0.83,N.A.,479.0,7.9
2500,Telangana,Medak,Narsapur,Rajipet,17.8322,78.2608,7.6,468.0,0,183.0,...,N.A.,165.0,46.0,12.0,27.0,0.6,0.55,N.A.,284.0,1.2
2501,Telangana,Medak,Jinnaram,Solakapalli,17.6442,78.2797,7.61,356.0,0,146.0,...,N.A.,155.0,40.0,13.0,7.1,0.3,0.56,N.A.,213.0,2
2502,Telangana,Medak,Narsapur,Avancha,17.7244,78.2503,7.9,284.0,0,122.0,...,N.A.,80.0,14.0,11.0,34.0,3.8,0.98,N.A.,188.0,1.5
2503,Telangana,Medak,Medak,IMD Medak,18.0528,78.2739,7.74,603.0,0,171.0,...,N.A.,80.0,22.0,6.1,82.0,2.8,1.38,N.A.,346.0,0

In [330]:
sample_df.dtypes

STATE         object
DISTRICT      object
BLOCK         object
LOCATION      object
LATITUDE      object
LONGITUDE     object
pH            object
EC           float64
CO3           object
HCO3         float64
Cl           float64
SO4           object
NO3           object
PO4           object
TH           float64
Ca           float64
Mg           float64
Na           float64
K            float64
F             object
SiO2          object
TDS          float64
U(ppb)        object
dtype: object

#### Function for checking if the value is **float** or not

In [331]:
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False

#### Checking the values of **Latitude** that are not float and changing the values to float

In [332]:
sample_df[sample_df['LATITUDE'].apply(isfloat) == False]

,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
2219,Kerala,Trissur,Thalikkulam,Triprayar,11.38.32,76.12.52,8.26,410.0,0.0,127.0,...,0,86.0,22.00,7.4,25.2,12.8,0.0,NaN,NaN,0
1507,Kerala,Trissur,Vellangallur,Thekkumkara(Konathukunnu),10.57.07,76.18.21,8.27,65.0,0,30.5,...,0,39.0,8.21,4.5,8.9,2.8,0,NaN,NaN,0
1508,Kerala,Trissur,Thrissur Corporation,Thrissur,11.38.32,76.12.52,7.91,131.0,0,38.1,...,0,63.2,10.10,9.2,10.3,5.8,0.07,NaN,NaN,0
1509,Kerala,Trissur,Wadakkancherry Municipality,Wadakkancherry,11.38.32,76.12.52,8.32,143.0,6,43.2,...,0,30.0,12.00,2.0,14.1,5.0,0.08,NaN,NaN,0

In [333]:
sample_df.at[2219, 'LATITUDE'] = 11.6422

In [334]:
sample_df.at[1508, 'LATITUDE'] = 11.6422

In [335]:
sample_df.at[1509, 'LATITUDE'] = 11.6422

In [336]:
sample_df.at[1507, 'LATITUDE'] = 10.9519

In [337]:
sample_df[sample_df['LATITUDE'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [338]:
sample_df['LATITUDE'] = sample_df['LATITUDE'].astype('float32')

/tmp/ipykernel_8615/3686859354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['LATITUDE'] = sample_df['LATITUDE'].astype('float32')

#### Checking the values of **Longitutde** that are not float and changing the values to float

In [339]:
sample_df[sample_df['LONGITUDE'].apply(isfloat) == False]

,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
2219,Kerala,Trissur,Thalikkulam,Triprayar,11.6422,76.12.52,8.26,410.0,0.0,127.0,...,0,86.0,22.00,7.4,25.2,12.8,0.0,NaN,NaN,0
1507,Kerala,Trissur,Vellangallur,Thekkumkara(Konathukunnu),10.9519,76.18.21,8.27,65.0,0,30.5,...,0,39.0,8.21,4.5,8.9,2.8,0,NaN,NaN,0
1508,Kerala,Trissur,Thrissur Corporation,Thrissur,11.6422,76.12.52,7.91,131.0,0,38.1,...,0,63.2,10.10,9.2,10.3,5.8,0.07,NaN,NaN,0
1509,Kerala,Trissur,Wadakkancherry Municipality,Wadakkancherry,11.6422,76.12.52,8.32,143.0,6,43.2,...,0,30.0,12.00,2.0,14.1,5.0,0.08,NaN,NaN,0

In [340]:
sample_df.at[2219, 'LONGITUDE'] = 76.2144

In [341]:
sample_df.at[1508, 'LONGITUDE'] = 76.2144

In [342]:
sample_df.at[1509, 'LONGITUDE'] = 76.2144

In [343]:
sample_df.at[1507, 'LONGITUDE'] = 76.3058

In [344]:
sample_df[sample_df['LONGITUDE'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [345]:
sample_df['LONGITUDE'] = sample_df['LONGITUDE'].astype('float32')

/tmp/ipykernel_8615/418422952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['LONGITUDE'] = sample_df['LONGITUDE'].astype('float32')

#### Checking the values of **pH** that are not float and changing the values to float

In [346]:
sample_df[sample_df['pH'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [347]:
sample_df['pH'] = sample_df['pH'].astype('float32')

/tmp/ipykernel_8615/1564359184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['pH'] = sample_df['pH'].astype('float32')

#### Checking the values of **EC** that are not float and changing the values to float

In [348]:
sample_df[sample_df['EC'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [349]:
sample_df['EC'] = sample_df['EC'].astype('float32')

/tmp/ipykernel_8615/1828265958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['EC'] = sample_df['EC'].astype('float32')

#### Checking the values of **CO3** that are not float and changing the values to float

In [350]:
sample_df[sample_df['CO3'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [351]:
sample_df['CO3'] = sample_df['CO3'].astype('float32')

/tmp/ipykernel_8615/1678339808.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['CO3'] = sample_df['CO3'].astype('float32')

#### Checking the values of **HCO3** that are not float and changing the values to float

In [352]:
sample_df[sample_df['HCO3'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [353]:
sample_df['HCO3'] = sample_df['HCO3'].astype('float32')

/tmp/ipykernel_8615/1386337075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['HCO3'] = sample_df['HCO3'].astype('float32')

#### Checking the values of **Cl** that are not float and changing the values to float

In [354]:
sample_df[sample_df['Cl'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [355]:
sample_df['Cl'] = sample_df['Cl'].astype('float32')

/tmp/ipykernel_8615/4134687114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['Cl'] = sample_df['Cl'].astype('float32')

#### Checking the values of **SO4** that are not float and changing the values to float

In [356]:
sample_df[sample_df['SO4'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [357]:
sample_df['SO4'] = sample_df['SO4'].astype('float32')

/tmp/ipykernel_8615/1461505381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['SO4'] = sample_df['SO4'].astype('float32')

#### Checking the values of **NO3** that are not float and changing the values to float

In [358]:
sample_df[sample_df['NO3'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [359]:
sample_df['NO3'] = sample_df['NO3'].astype('float32')

/tmp/ipykernel_8615/39855804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['NO3'] = sample_df['NO3'].astype('float32')

#### Checking the values of **PO4** that are not float and changing the values to float

In [360]:
sample_df[sample_df['PO4'].apply(isfloat) == False]

,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
67,Andhra Pradesh,Visakhapatnam,GUDEM KOTHAVEEDI,Dharakonda,17.908300,82.120796,6.80,410.0,0.0,171.0,...,N.A.,180.0,38.0,21.0,13.0,2.0,0.401,N.A.,NaN,NaN
68,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-1,17.883301,83.433296,7.20,760.0,0.0,189.0,...,N.A.,195.0,50.0,17.0,71.0,22.0,0.322,N.A.,NaN,NaN
69,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-2,17.883301,83.433296,7.30,2650.0,0.0,695.0,...,N.A.,780.0,184.0,78.0,164.0,140.0,0.593,N.A.,NaN,NaN
70,Andhra Pradesh,Visakhapatnam,NAKKALLI,Gurrajupeta,17.381901,82.770798,7.21,2750.0,0.0,708.0,...,N.A.,780.0,200.0,68.0,274.0,26.0,0.677,N.A.,NaN,NaN
71,Andhra Pradesh,Visakhapatnam,KOTAURATLA,Purshotta Puram,17.508301,82.666702,7.69,1400.0,0.0,549.0,...,N.A.,310.0,64.0,36.0,175.0,11.0,1.59,N.A.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,Telangana,Medak,Narsapur,Reddypalli,17.780001,78.258598,7.55,803.0,0.0,195.0,...,N.A.,245.0,46.0,32.0,70.0,6.1,0.83,N.A.,479.0,7.9
2500,Telangana,Medak,Narsapur,Rajipet,17.832199,78.260803,7.60,468.0,0.0,183.0,...,N.A.,165.0,46.0,12.0,27.0,0.6,0.55,N.A.,284.0,1.2
2501,Telangana,Medak,Jinnaram,Solakapalli,17.644199,78.279701,7.61,356.0,0.0,146.0,...,N.A.,155.0,40.0,13.0,7.1,0.3,0.56,N.A.,213.0,2
2502,Telangana,Medak,Narsapur,Avancha,17.724400,78.250298,7.90,284.0,0.0,122.0,...,N.A.,80.0,14.0,11.0,34.0,3.8,0.98,N.A.,188.0,1.5
2503,Telangana,Medak,Medak,IMD Medak,18.052799,78.273903,7.74,603.0,0.0,171.0,...,N.A.,80.0,22.0,6.1,82.0,2.8,1.38,N.A.,346.0,0

In [361]:
sample_df['PO4'] = 0

/tmp/ipykernel_8615/499776138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['PO4'] = 0

In [362]:
sample_df['PO4'] = sample_df['PO4'].astype('float32')

/tmp/ipykernel_8615/2887883445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['PO4'] = sample_df['PO4'].astype('float32')

In [363]:
sample_df[sample_df['PO4'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

#### Checking the values of **TH** that are not float and changing the values to float

In [364]:
sample_df[sample_df['TH'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [365]:
sample_df['TH'] = sample_df['TH'].astype('float32')

/tmp/ipykernel_8615/2547200464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['TH'] = sample_df['TH'].astype('float32')

#### Checking the values of **Ca** that are not float and changing the values to float

In [366]:
sample_df[sample_df['Ca'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [367]:
sample_df['Ca'] = sample_df['Ca'].astype('float32')

/tmp/ipykernel_8615/1675210495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['Ca'] = sample_df['Ca'].astype('float32')

#### Checking the values of **Mg** that are not float and changing the values to float

In [368]:
sample_df[sample_df['Mg'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [369]:
sample_df['Mg'] = sample_df['Mg'].astype('float32')

/tmp/ipykernel_8615/212374225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['Mg'] = sample_df['Mg'].astype('float32')

#### Checking the values of **Na** that are not float and changing the values to float

In [370]:
sample_df[sample_df['Na'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [371]:
sample_df['Na'] = sample_df['Na'].astype('float32')

/tmp/ipykernel_8615/990361106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['Na'] = sample_df['Na'].astype('float32')

#### Checking the values of **K** that are not float and changing the values to float

In [372]:
sample_df[sample_df['K'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [373]:
sample_df['K'] = sample_df['K'].astype('float32')

/tmp/ipykernel_8615/589515649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['K'] = sample_df['K'].astype('float32')

#### Checking the values of **F** that are not float and changing the values to float

In [374]:
sample_df[sample_df['F'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, SiO2, TDS, U(ppb)]
Index: []

[0 rows x 23 columns]

In [375]:
sample_df['F'] = sample_df['F'].astype('float32')

/tmp/ipykernel_8615/4223535076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['F'] = sample_df['F'].astype('float32')

#### Checking the values of **SiO2** that are not float and removing them

In [376]:
sample_df[sample_df['SiO2'].apply(isfloat) == False]

,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
67,Andhra Pradesh,Visakhapatnam,GUDEM KOTHAVEEDI,Dharakonda,17.908300,82.120796,6.80,410.0,0.0,171.0,...,0.0,180.0,38.0,21.0,13.0,2.0,0.401,N.A.,NaN,NaN
68,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-1,17.883301,83.433296,7.20,760.0,0.0,189.0,...,0.0,195.0,50.0,17.0,71.0,22.0,0.322,N.A.,NaN,NaN
69,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-2,17.883301,83.433296,7.30,2650.0,0.0,695.0,...,0.0,780.0,184.0,78.0,164.0,140.0,0.593,N.A.,NaN,NaN
70,Andhra Pradesh,Visakhapatnam,NAKKALLI,Gurrajupeta,17.381901,82.770798,7.21,2750.0,0.0,708.0,...,0.0,780.0,200.0,68.0,274.0,26.0,0.677,N.A.,NaN,NaN
71,Andhra Pradesh,Visakhapatnam,KOTAURATLA,Purshotta Puram,17.508301,82.666702,7.69,1400.0,0.0,549.0,...,0.0,310.0,64.0,36.0,175.0,11.0,1.590,N.A.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,Telangana,Medak,Narsapur,Reddypalli,17.780001,78.258598,7.55,803.0,0.0,195.0,...,0.0,245.0,46.0,32.0,70.0,6.1,0.830,N.A.,479.0,7.9
2500,Telangana,Medak,Narsapur,Rajipet,17.832199,78.260803,7.60,468.0,0.0,183.0,...,0.0,165.0,46.0,12.0,27.0,0.6,0.550,N.A.,284.0,1.2
2501,Telangana,Medak,Jinnaram,Solakapalli,17.644199,78.279701,7.61,356.0,0.0,146.0,...,0.0,155.0,40.0,13.0,7.1,0.3,0.560,N.A.,213.0,2
2502,Telangana,Medak,Narsapur,Avancha,17.724400,78.250298,7.90,284.0,0.0,122.0,...,0.0,80.0,14.0,11.0,34.0,3.8,0.980,N.A.,188.0,1.5
2503,Telangana,Medak,Medak,IMD Medak,18.052799,78.273903,7.74,603.0,0.0,171.0,...,0.0,80.0,22.0,6.1,82.0,2.8,1.380,N.A.,346.0,0

In [377]:
sample_df[sample_df['SiO2'].isna()]

,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,...,PO4,TH,Ca,Mg,Na,K,F,SiO2,TDS,U(ppb)
2143,Kerala,Ernakkulam,Vazhakulam,Alwaye,10.1117,76.356102,6.33,164.0,0.0,7.6,...,0.0,21.400000,6.800000,1.100,15.000000,15.000000,0.10,NaN,NaN,0
2144,Kerala,Ernakkulam,Pampakuda,Anchalpetty,9.9139,76.500000,6.59,112.0,0.0,12.7,...,0.0,25.700001,9.400000,0.580,9.700000,3.200000,0.00,NaN,NaN,0
2145,Kerala,Ernakkulam,Palluruthy,Chellanum,9.8069,76.284698,8.17,1240.0,0.0,394.0,...,0.0,342.399994,132.000000,3.650,99.400002,34.200001,0.10,NaN,NaN,0
2146,Kerala,Ernakkulam,Parakadav,Chengamanad,10.1528,76.339401,8.06,98.0,0.0,5.1,...,0.0,12.800000,5.100000,0.036,18.400000,6.300000,0.80,NaN,NaN,0
2147,Kerala,Ernakkulam,Kochi Corporation,Edapally,10.0222,76.307503,8.24,1120.0,0.0,241.0,...,0.0,278.000000,107.199997,2.940,123.000000,9.700000,0.60,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,TAMIL NADU,Madurai,KALLUPATTI,Kolluveerampatti,9.7069,77.885597,7.76,2570.0,0.0,500.0,...,0.0,720.000000,80.000000,126.000,284.000000,18.000000,1.54,NaN,NaN,3.02
2428,TAMIL NADU,Madurai,KALLUPATTI,T.Kallupatti,9.7208,77.855598,7.69,1775.0,0.0,451.0,...,0.0,390.000000,44.000000,68.000,234.000000,0.310000,1.60,NaN,NaN,1.66
2429,TAMIL NADU,Madurai,SEDAPATTI,Periyur,9.7428,77.792198,7.73,899.0,0.0,268.0,...,0.0,335.000000,66.000000,41.000,41.000000,0.870000,0.65,NaN,NaN,0.93
2430,TAMIL NADU,Madurai,SEDAPATTI,T.Krishnapuram,9.8044,77.668900,7.85,1373.0,0.0,451.0,...,0.0,520.000000,64.000000,88.000,103.000000,1.400000,1.60,NaN,NaN,0.76
2431,TAMIL NADU,Madurai,TIRUPARANKUNRAM,M.Puliyankulam,9.8844,78.182503,7.73,3040.0,0.0,512.0,...,0.0,520.000000,32.000000,107.000,415.000000,1.400000,0.82,NaN,NaN,6.65

In [378]:
sample_df['SiO2'].unique()

array(['N.A.', nan], dtype=object)

In [379]:
sample_df.drop('SiO2', axis=1, inplace=True)

/tmp/ipykernel_8615/1792565017.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df.drop('SiO2', axis=1, inplace=True)

#### Checking the values of **TDS** that are not float and dropping them

In [380]:
sample_df[sample_df['TDS'].apply(isfloat) == False]

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, TDS, U(ppb)]
Index: []

[0 rows x 22 columns]

In [381]:
sample_df[sample_df['TDS'].isna()]

,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,...,NO3,PO4,TH,Ca,Mg,Na,K,F,TDS,U(ppb)
67,Andhra Pradesh,Visakhapatnam,GUDEM KOTHAVEEDI,Dharakonda,17.908300,82.120796,6.80,410.0,0.0,171.0,...,41.00,0.0,180.0,38.0,21.0,13.0,2.00,0.401,NaN,NaN
68,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-1,17.883301,83.433296,7.20,760.0,0.0,189.0,...,97.00,0.0,195.0,50.0,17.0,71.0,22.00,0.322,NaN,NaN
69,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-2,17.883301,83.433296,7.30,2650.0,0.0,695.0,...,186.00,0.0,780.0,184.0,78.0,164.0,140.00,0.593,NaN,NaN
70,Andhra Pradesh,Visakhapatnam,NAKKALLI,Gurrajupeta,17.381901,82.770798,7.21,2750.0,0.0,708.0,...,120.00,0.0,780.0,200.0,68.0,274.0,26.00,0.677,NaN,NaN
71,Andhra Pradesh,Visakhapatnam,KOTAURATLA,Purshotta Puram,17.508301,82.666702,7.69,1400.0,0.0,549.0,...,55.00,0.0,310.0,64.0,36.0,175.0,11.00,1.590,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,TAMIL NADU,Madurai,KALLUPATTI,Kolluveerampatti,9.706900,77.885597,7.76,2570.0,0.0,500.0,...,21.00,0.0,720.0,80.0,126.0,284.0,18.00,1.540,NaN,3.02
2428,TAMIL NADU,Madurai,KALLUPATTI,T.Kallupatti,9.720800,77.855598,7.69,1775.0,0.0,451.0,...,0.35,0.0,390.0,44.0,68.0,234.0,0.31,1.600,NaN,1.66
2429,TAMIL NADU,Madurai,SEDAPATTI,Periyur,9.742800,77.792198,7.73,899.0,0.0,268.0,...,46.00,0.0,335.0,66.0,41.0,41.0,0.87,0.650,NaN,0.93
2430,TAMIL NADU,Madurai,SEDAPATTI,T.Krishnapuram,9.804400,77.668900,7.85,1373.0,0.0,451.0,...,31.00,0.0,520.0,64.0,88.0,103.0,1.40,1.600,NaN,0.76
2431,TAMIL NADU,Madurai,TIRUPARANKUNRAM,M.Puliyankulam,9.884400,78.182503,7.73,3040.0,0.0,512.0,...,37.00,0.0,520.0,32.0,107.0,415.0,1.40,0.820,NaN,6.65

In [382]:
sample_df['TDS'].unique()

array([  nan,  500.,  658., 1028.,  426.,  509.,  761.,  321.,  624.,
        796.,  795.,  793.,  711.,  822.,  685.,  567.,  744.,  854.,
       1278., 1161.,  718.,  789., 1469.,  820.,  482.,  773., 1120.,
        304., 1147.,  555.,  537.,  915.,  715.,  705.,  927.,  259.,
       1512.,  672., 1105.,  544.,  418.,  569., 1137., 1976., 1406.,
        303.,  186.,  704.,  724.,  280.,  372.,  841., 2664.,  337.,
        771.,  687.,  232., 1254.,  780.,  726.,  693.,  421.,  888.,
        192.,  621.,  918.,  991., 1046.,  694.,  579.,  496.,  653.,
        865.,  677., 1220.,  612.,  944., 1380., 1708.,  625.,  649.,
        585.,  753.,  772.,  261.,  314.,  366.,  596., 1102.,  153.,
       1031.,  998.,  757., 1057.,  732.,  716.,  737.,  594., 1306.,
        807.,  993.,  964.,  206.,  914.,  889., 1442.,  463.,  238.,
        491.,  490.,  609.,  446., 1473., 1227.,  698.,  344.,  641.,
       1189.,  431.,  602.,  209.,  828.,  739.,  357.,  387.,  984.,
        564.,  228.,  559.,  479.,  284.,  213.,  188.,  346.])

In [383]:
sample_df.drop('TDS', axis=1, inplace=True)

/tmp/ipykernel_8615/2521492663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df.drop('TDS', axis=1, inplace=True)

#### Checking the values of **U** that are not float and removing them

In [384]:
sample_df[sample_df['U(ppb)'].apply(isfloat) == False]

,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,...,SO4,NO3,PO4,TH,Ca,Mg,Na,K,F,U(ppb)
5132,TAMIL NADU,Tirunelveli,AMBASAMUDRAM,Iyan Singampatty (Vairavikulam,8.6708,77.445602,7.50,296.0,0.0,67.0,...,5.0,11.0,0.0,100.0,16.0,15.0,14.0,3.0,0.55,BDL
5142,TAMIL NADU,Tirunelveli,RADHAPURAM,Muthumottamozhi OW,8.3086,77.860298,7.20,335.0,0.0,146.0,...,9.0,7.0,0.0,155.0,32.0,18.0,5.0,3.0,1.15,BDL
2309,TAMIL NADU,Tirunelveli,NANGUNERI,Marudakulam,8.5833,77.715302,7.60,419.0,0.0,134.0,...,9.0,10.0,0.0,160.0,56.0,5.0,14.0,4.0,0.43,BDL
2326,TAMIL NADU,Tirunelveli,RADHAPURAM,Uvari,8.2867,77.893898,7.67,978.0,0.0,281.0,...,18.0,27.0,0.0,230.0,52.0,24.0,51.0,70.0,0.41,BDL
2370,TAMIL NADU,Tuticorin,KAYATHAR,Kallurani,9.1431,77.771896,7.60,523.0,0.0,244.0,...,5.0,19.0,0.0,220.0,52.0,22.0,5.0,1.0,0.47,BDL

In [385]:
U_ppb = np.array(sample_df['U(ppb)'])

In [386]:
for i in range(0, len(U_ppb)):
    if U_ppb[i]=='BDL':
        U_ppb[i] = 0

In [387]:
sample_df['U(ppb)'] = U_ppb

/tmp/ipykernel_8615/2965913187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['U(ppb)'] = U_ppb

In [388]:
sample_df[sample_df['U(ppb)'].isna()]

,STATE,DISTRICT,BLOCK,LOCATION,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,...,SO4,NO3,PO4,TH,Ca,Mg,Na,K,F,U(ppb)
67,Andhra Pradesh,Visakhapatnam,GUDEM KOTHAVEEDI,Dharakonda,17.908300,82.120796,6.80,410.0,0.0,171.0,...,8.0,41.0,0.0,180.0,38.0,21.0,13.0,2.0,0.401,NaN
68,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-1,17.883301,83.433296,7.20,760.0,0.0,189.0,...,20.0,97.0,0.0,195.0,50.0,17.0,71.0,22.0,0.322,NaN
69,Andhra Pradesh,Visakhapatnam,BHEEMUNIPATNAM,Bhimunipatnam-2,17.883301,83.433296,7.30,2650.0,0.0,695.0,...,160.0,186.0,0.0,780.0,184.0,78.0,164.0,140.0,0.593,NaN
70,Andhra Pradesh,Visakhapatnam,NAKKALLI,Gurrajupeta,17.381901,82.770798,7.21,2750.0,0.0,708.0,...,143.0,120.0,0.0,780.0,200.0,68.0,274.0,26.0,0.677,NaN
71,Andhra Pradesh,Visakhapatnam,KOTAURATLA,Purshotta Puram,17.508301,82.666702,7.69,1400.0,0.0,549.0,...,70.0,55.0,0.0,310.0,64.0,36.0,175.0,11.0,1.590,NaN
72,Andhra Pradesh,Visakhapatnam,KOYYURU,Pata K.d.peta,17.670799,82.362503,7.50,1150.0,0.0,476.0,...,45.0,53.0,0.0,390.0,104.0,32.0,62.0,23.0,0.509,NaN
73,Andhra Pradesh,Visakhapatnam,S.RAYAVARAM,Rayavaram,17.458300,82.849998,7.61,2140.0,0.0,610.0,...,80.0,23.0,0.0,580.0,56.0,107.0,219.0,8.0,0.533,NaN
74,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Lawson's Bay,17.730600,83.343300,7.31,2740.0,0.0,952.0,...,135.0,24.0,0.0,540.0,56.0,97.0,334.0,68.0,0.688,NaN
75,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Kancherapalem (Govt. Polytech,17.734200,83.279999,7.70,1140.0,0.0,451.0,...,70.0,24.0,0.0,320.0,48.0,49.0,117.0,0.0,0.807,NaN
76,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Pithapuram,17.715300,83.331902,7.28,690.0,0.0,214.0,...,35.0,18.0,0.0,205.0,42.0,24.0,60.0,0.0,0.338,NaN
77,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Gopalpatnam PZ,17.761700,83.220299,7.60,800.0,0.0,281.0,...,36.0,17.0,0.0,250.0,46.0,33.0,64.0,2.0,0.594,NaN
78,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Anandapuram PZ,17.891899,83.371101,7.40,350.0,0.0,165.0,...,13.0,5.0,0.0,105.0,28.0,9.0,23.0,16.0,0.485,NaN
79,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Akkireddipalem PZ,17.709200,83.207199,7.29,780.0,0.0,360.0,...,35.0,5.0,0.0,205.0,36.0,28.0,85.0,1.0,0.918,NaN
80,Andhra Pradesh,Visakhapatnam,BUCHCHAYYAPETA,L.Singavaram,17.813900,82.816704,7.30,950.0,0.0,464.0,...,29.0,3.0,0.0,305.0,54.0,41.0,78.0,1.0,0.817,NaN
81,Andhra Pradesh,Visakhapatnam,PENDURTI,Bandavaripalem X road,17.714701,82.590599,7.60,1630.0,0.0,366.0,...,281.0,30.0,0.0,560.0,64.0,97.0,98.0,30.0,0.982,NaN
82,Andhra Pradesh,Visakhapatnam,GOLUGONDA,Naganna Dorapalem,17.701401,82.479202,7.32,850.0,0.0,476.0,...,18.0,4.0,0.0,275.0,56.0,33.0,69.0,5.0,1.000,NaN
457,Andhra Pradesh,Visakhapatnam,DUMBRIGUDA,Aruku,18.336100,82.847198,6.92,600.0,0.0,177.0,...,18.0,44.0,0.0,175.0,42.0,17.0,50.0,8.0,0.386,NaN
458,Andhra Pradesh,Visakhapatnam,KOYYURU,Koyyuru1,17.666700,82.208298,7.10,560.0,0.0,281.0,...,12.0,4.0,0.0,250.0,60.0,24.0,12.0,2.0,0.560,NaN
459,Andhra Pradesh,Visakhapatnam,GOLUGONDA,Mallampet,17.669399,82.445801,7.13,1890.0,0.0,586.0,...,96.0,145.0,0.0,510.0,120.0,51.0,206.0,2.0,1.050,NaN
460,Andhra Pradesh,Visakhapatnam,RAVIKAMATAM,Medivoda,17.779200,82.784698,7.32,1310.0,0.0,451.0,...,19.0,89.0,0.0,450.0,120.0,36.0,58.0,47.0,0.553,NaN
461,Andhra Pradesh,Visakhapatnam,PADERU,Paderu,18.083300,82.699997,6.90,450.0,0.0,98.0,...,8.0,65.0,0.0,155.0,30.0,19.0,28.0,5.0,0.276,NaN
462,Andhra Pradesh,Visakhapatnam,GOLUGONDA,Narsipatnam,17.650000,82.583298,7.55,1100.0,0.0,506.0,...,78.0,3.0,0.0,225.0,40.0,30.0,150.0,2.0,1.200,NaN
463,Andhra Pradesh,Visakhapatnam,ANAKAPALLE,Anakapalli,17.691700,83.000000,7.90,1410.0,0.0,555.0,...,77.0,16.0,0.0,310.0,66.0,35.0,186.0,8.0,1.700,NaN
464,Andhra Pradesh,Visakhapatnam,PENDURTI,Pendurti,17.811100,83.205597,7.25,1190.0,0.0,451.0,...,21.0,25.0,0.0,325.0,80.0,30.0,114.0,18.0,0.699,NaN
465,Andhra Pradesh,Visakhapatnam,YELAMANCHILI,Yelamanchili,17.549999,82.854202,7.25,1300.0,0.0,415.0,...,71.0,74.0,0.0,380.0,100.0,32.0,108.0,37.0,0.510,NaN
466,Andhra Pradesh,Visakhapatnam,RAMBILLI,Pudimadaka,17.483299,83.004204,7.57,1750.0,0.0,512.0,...,114.0,107.0,0.0,380.0,112.0,24.0,225.0,2.0,0.574,NaN
467,Andhra Pradesh,Visakhapatnam,S.RAYAVARAM,Addaroddu,17.429199,82.747200,7.11,3880.0,0.0,732.0,...,207.0,31.0,0.0,1140.0,297.0,97.0,344.0,2.0,0.430,NaN
468,Andhra Pradesh,Visakhapatnam,S.RAYAVARAM,Revupolavaram,17.397200,82.816704,7.90,1900.0,0.0,451.0,...,71.0,65.0,0.0,580.0,168.0,39.0,168.0,15.0,0.427,NaN
469,Andhra Pradesh,Visakhapatnam,CHODAVARAM,Bangarumitta,17.770800,82.908302,7.60,1780.0,0.0,683.0,...,112.0,25.0,0.0,650.0,128.0,80.0,113.0,1.0,0.849,NaN
470,Andhra Pradesh,Visakhapatnam,ROLUGUNTA,Rolugunta1,17.700001,82.666702,7.50,960.0,0.0,384.0,...,46.0,16.0,0.0,310.0,68.0,34.0,68.0,6.0,0.624,NaN
471,Andhra Pradesh,Visakhapatnam,ANAKAPALLE,Tallapalem,17.708300,82.916702,7.68,2100.0,0.0,586.0,...,240.0,26.0,0.0,460.0,96.0,53.0,268.0,22.0,1.010,NaN
472,Andhra Pradesh,Visakhapatnam,KOTAURATLA,Kotauratla,17.562500,82.691704,7.60,2070.0,0.0,756.0,...,86.0,150.0,0.0,360.0,64.0,49.0,312.0,0.0,1.340,NaN
473,Andhra Pradesh,Visakhapatnam,KASIMKOTA,Haripalem,17.608299,82.812500,7.32,2730.0,0.0,708.0,...,185.0,105.0,0.0,900.0,216.0,87.0,188.0,50.0,0.582,NaN
474,Andhra Pradesh,Visakhapatnam,PADERU,Garikabanda,17.924999,82.750000,7.70,550.0,0.0,183.0,...,31.0,67.0,0.0,195.0,50.0,17.0,35.0,0.0,0.376,NaN
475,Andhra Pradesh,Visakhapatnam,DUMBRIGUDA,Dimriguda,18.258301,82.800003,6.30,410.0,0.0,128.0,...,11.0,20.0,0.0,160.0,42.0,13.0,18.0,0.0,0.394,NaN
476,Andhra Pradesh,Visakhapatnam,CHINTAPALLE,Lambasingi1,17.812500,82.491699,6.30,210.0,0.0,73.0,...,6.0,13.0,0.0,100.0,22.0,11.0,3.0,0.0,0.379,NaN
477,Andhra Pradesh,Visakhapatnam,ANANTAGIRI,Kottur,18.208300,83.074997,6.33,270.0,0.0,128.0,...,11.0,4.0,0.0,115.0,26.0,12.0,12.0,0.0,0.416,NaN
478,Andhra Pradesh,Visakhapatnam,CHINTAPALLE,Lotugadda jn.,17.866699,82.425003,6.40,150.0,0.0,73.0,...,5.0,3.0,0.0,75.0,16.0,9.0,1.0,0.0,0.363,NaN
479,Andhra Pradesh,Visakhapatnam,GUDEM KOTHAVEEDI,Gudem,17.883301,82.150002,6.34,120.0,0.0,31.0,...,11.0,9.0,0.0,55.0,12.0,6.0,1.0,0.0,0.306,NaN
480,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Visalakshinagar,17.753099,83.342499,7.28,1110.0,0.0,464.0,...,68.0,19.0,0.0,270.0,56.0,32.0,129.0,2.0,1.180,NaN
481,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Rishikonda,17.791901,83.385002,7.50,2550.0,0.0,519.0,...,232.0,17.0,0.0,360.0,72.0,44.0,386.0,52.0,1.200,NaN
482,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Potina-mallayapalem,17.801701,83.359200,7.68,370.0,0.0,98.0,...,53.0,3.0,0.0,105.0,26.0,10.0,35.0,0.0,0.442,NaN
483,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Peddagadili,17.757799,83.322197,7.24,1520.0,0.0,390.0,...,205.0,54.0,0.0,390.0,80.0,46.0,166.0,1.0,0.773,NaN
484,Andhra Pradesh,Visakhapatnam,VISAKHAPATNAM(U),Kotaveedhi,17.690599,83.294998,7.39,1620.0,0.0,348.0,...,230.0,170.0,0.0,400.0,96.0,39.0,150.0,78.0,0.655,NaN
485,Andhra Pradesh,Visakhapatnam,RAVIKAMATAM,Kothakota,17.752800,82.699997,7.39,1940.0,0.0,610.0,...,65.0,26.0,0.0,360.0,72.0,44.0,255.0,39.0,1.720,NaN
486,Andhra Pradesh,Visakhapatnam,PADERU,Vontlamamidi,17.971701,82.819199,7.61,170.0,0.0,61.0,...,18.0,3.0,0.0,60.0,18.0,4.0,10.0,2.0,0.329,NaN
487,Andhra Pradesh,Visakhapatnam,PADERU,Minimuluru,18.035801,82.704201,7.15,350.0,0.0,73.0,...,13.0,43.0,0.0,115.0,32.0,9.0,19.0,7.0,0.220,NaN
488,Andhra Pradesh,Visakhapatnam,HUKUMPET,Kontela,18.145599,82.695000,7.25,290.0,0.0,128.0,...,10.0,7.0,0.0,80.0,24.0,5.0,19.0,12.0,0.272,NaN
489,Andhra Pradesh,Visakhapatnam,HUKUMPET,Rangasheela,18.212200,82.779999,7.20,180.0,0.0,55.0,...,8.0,10.0,0.0,65.0,18.0,5.0,8.0,3.0,0.222,NaN
490,Andhra Pradesh,Visakhapatnam,ANANTAGIRI,Sunkarametta,18.272200,82.972198,6.93,300.0,0.0,116.0,...,14.0,23.0,0.0,110.0,28.0,10.0,18.0,0.0,0.282,NaN
491,Andhra Pradesh,Visakhapatnam,ANANTAGIRI,Anantagiri (Iktaguda),18.236700,83.011902,7.15,50.0,0.0,6.0,...,8.0,4.0,0.0,25.0,4.0,4.0,0.0,0.0,0.207,NaN
492,Andhra Pradesh,Visakhapatnam,ANANTAGIRI,Bangarammapeta,18.216700,83.108299,6.80,550.0,0.0,262.0,...,8.0,6.0,0.0,215.0,42.0,27.0,25.0,4.0,0.416,NaN
493,Andhra Pradesh,Visakhapatnam,KOTAURATLA,Yendapalli,17.611099,82.650002,7.19,1980.0,0.0,439.0,...,319.0,77.0,0.0,500.0,112.0,53.0,225.0,6.0,1.260,NaN
494,Andhra Pradesh,Visakhapatnam,PENDURTI,Gurrampalem,17.825001,83.239998,7.55,1250.0,0.0,512.0,...,80.0,23.0,0.0,390.0,64.0,56.0,110.0,1.0,1.240,NaN
495,Andhra Pradesh,Visakhapatnam,PEDDABAYALU,Gamparai,18.170799,82.636902,7.80,130.0,0.0,43.0,...,10.0,6.0,0.0,50.0,12.0,5.0,5.0,2.0,0.235,NaN

In [389]:
sample_df['U(ppb)'] = sample_df['U(ppb)'].astype('float32')

/tmp/ipykernel_8615/918650872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['U(ppb)'] = sample_df['U(ppb)'].astype('float32')

In [390]:
sample_df['U(ppb)'].describe()

count    1110.000000
mean        3.687036
std        11.473117
min         0.000000
25%         0.000000
50%         0.395000
75%         3.020000
max       159.839996
Name: U(ppb), dtype: float64

In [391]:
sample_df['U(ppb)'].fillna(sample_df['U(ppb)'].median(), inplace=True)

/tmp/ipykernel_8615/3884472638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['U(ppb)'].fillna(sample_df['U(ppb)'].median(), inplace=True)

In [392]:
sample_df.dtypes

STATE         object
DISTRICT      object
BLOCK         object
LOCATION      object
LATITUDE     float32
LONGITUDE    float32
pH           float32
EC           float32
CO3          float32
HCO3         float32
Cl           float32
SO4          float32
NO3          float32
PO4          float32
TH           float32
Ca           float32
Mg           float32
Na           float32
K            float32
F            float32
U(ppb)       float32
dtype: object

In [393]:
for i in sample_df.columns:
    print(sample_df[sample_df[i].isna()])

Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [STATE, DISTRICT, BLOCK, LOCATION, LATITUDE, LONGITUDE, pH, EC, CO3, HCO3, Cl, SO4, NO3, PO4, TH, Ca, Mg, Na, K, F, U(ppb)]
Index: []

[0 rows x 21 columns]

In [394]:
sample_df.drop(['BLOCK', 'LOCATION'], axis=1, inplace=True)

/tmp/ipykernel_8615/3069645779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df.drop(['BLOCK', 'LOCATION'], axis=1, inplace=True)

In [395]:
sample_df

,STATE,DISTRICT,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,Cl,SO4,NO3,PO4,TH,Ca,Mg,Na,K,F,U(ppb)
67,Andhra Pradesh,Visakhapatnam,17.908300,82.120796,6.80,410.0,0.0,171.0,25.0,8.0,41.0,0.0,180.0,38.0,21.0,13.0,2.0,0.401,0.395
68,Andhra Pradesh,Visakhapatnam,17.883301,83.433296,7.20,760.0,0.0,189.0,82.0,20.0,97.0,0.0,195.0,50.0,17.0,71.0,22.0,0.322,0.395
69,Andhra Pradesh,Visakhapatnam,17.883301,83.433296,7.30,2650.0,0.0,695.0,298.0,160.0,186.0,0.0,780.0,184.0,78.0,164.0,140.0,0.593,0.395
70,Andhra Pradesh,Visakhapatnam,17.381901,82.770798,7.21,2750.0,0.0,708.0,397.0,143.0,120.0,0.0,780.0,200.0,68.0,274.0,26.0,0.677,0.395
71,Andhra Pradesh,Visakhapatnam,17.508301,82.666702,7.69,1400.0,0.0,549.0,99.0,70.0,55.0,0.0,310.0,64.0,36.0,175.0,11.0,1.590,0.395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,Telangana,Medak,17.780001,78.258598,7.55,803.0,0.0,195.0,117.0,75.0,15.0,0.0,245.0,46.0,32.0,70.0,6.1,0.830,7.900
2500,Telangana,Medak,17.832199,78.260803,7.60,468.0,0.0,183.0,25.0,20.0,42.0,0.0,165.0,46.0,12.0,27.0,0.6,0.550,1.200
2501,Telangana,Medak,17.644199,78.279701,7.61,356.0,0.0,146.0,18.0,20.0,25.0,0.0,155.0,40.0,13.0,7.1,0.3,0.560,2.000
2502,Telangana,Medak,17.724400,78.250298,7.90,284.0,0.0,122.0,18.0,10.0,24.0,0.0,80.0,14.0,11.0,34.0,3.8,0.980,1.500
2503,Telangana,Medak,18.052799,78.273903,7.74,603.0,0.0,171.0,18.0,54.0,57.0,0.0,80.0,22.0,6.1,82.0,2.8,1.380,0.000

In [396]:
sample_df['DISTRICT'].unique()

array(['Visakhapatnam', 'Ernakkulam', 'Kozhikode', 'Idukki', 'Palakkad',
       'Trissur', 'Allapuzha', 'Kannur', 'Kasargod', 'Kollam', 'Kottayam',
       'Malappuram', 'Pathanamthitta', 'Trivandrum', 'Wayanad', 'Chennai',
       'Cuddalore', 'Dharmapuri', 'Dindugal', 'Kancheepuram',
       'Kanyakumari', 'Krishnagiri', 'Salem', 'Theni', 'Thiruvannamalai',
       'Tirunelveli', 'Tiruvallur', 'Tuticorin', 'Vellore', 'Villupuram',
       'Virudhunagar', 'Madurai', 'Hyderabad', 'Ranga Reddy', 'Medak',
       'Dindigul'], dtype=object)

In [397]:
df = pd.get_dummies(data=sample_df, columns=['STATE', 'DISTRICT'], dtype='float32')

In [398]:
df

,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,Cl,SO4,NO3,PO4,...,DISTRICT_Tirunelveli,DISTRICT_Tiruvallur,DISTRICT_Trissur,DISTRICT_Trivandrum,DISTRICT_Tuticorin,DISTRICT_Vellore,DISTRICT_Villupuram,DISTRICT_Virudhunagar,DISTRICT_Visakhapatnam,DISTRICT_Wayanad
67,17.908300,82.120796,6.80,410.0,0.0,171.0,25.0,8.0,41.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
68,17.883301,83.433296,7.20,760.0,0.0,189.0,82.0,20.0,97.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
69,17.883301,83.433296,7.30,2650.0,0.0,695.0,298.0,160.0,186.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
70,17.381901,82.770798,7.21,2750.0,0.0,708.0,397.0,143.0,120.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
71,17.508301,82.666702,7.69,1400.0,0.0,549.0,99.0,70.0,55.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,17.780001,78.258598,7.55,803.0,0.0,195.0,117.0,75.0,15.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2500,17.832199,78.260803,7.60,468.0,0.0,183.0,25.0,20.0,42.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2501,17.644199,78.279701,7.61,356.0,0.0,146.0,18.0,20.0,25.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2502,17.724400,78.250298,7.90,284.0,0.0,122.0,18.0,10.0,24.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2503,18.052799,78.273903,7.74,603.0,0.0,171.0,18.0,54.0,57.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [399]:
df.columns

Index(['LATITUDE', 'LONGITUDE', 'pH', 'EC', 'CO3', 'HCO3', 'Cl', 'SO4', 'NO3',
       'PO4', 'TH', 'Ca', 'Mg', 'Na', 'K', 'F', 'U(ppb)',
       'STATE_Andhra Pradesh', 'STATE_Kerala', 'STATE_TAMIL NADU',
       'STATE_Telangana', 'DISTRICT_Allapuzha', 'DISTRICT_Chennai',
       'DISTRICT_Cuddalore', 'DISTRICT_Dharmapuri', 'DISTRICT_Dindigul',
       'DISTRICT_Dindugal', 'DISTRICT_Ernakkulam', 'DISTRICT_Hyderabad',
       'DISTRICT_Idukki', 'DISTRICT_Kancheepuram', 'DISTRICT_Kannur',
       'DISTRICT_Kanyakumari', 'DISTRICT_Kasargod', 'DISTRICT_Kollam',
       'DISTRICT_Kottayam', 'DISTRICT_Kozhikode', 'DISTRICT_Krishnagiri',
       'DISTRICT_Madurai', 'DISTRICT_Malappuram', 'DISTRICT_Medak',
       'DISTRICT_Palakkad', 'DISTRICT_Pathanamthitta', 'DISTRICT_Ranga Reddy',
       'DISTRICT_Salem', 'DISTRICT_Theni', 'DISTRICT_Thiruvannamalai',
       'DISTRICT_Tirunelveli', 'DISTRICT_Tiruvallur', 'DISTRICT_Trissur',
       'DISTRICT_Trivandrum', 'DISTRICT_Tuticorin', 'DISTRICT_Vellore',
       'DISTRICT_Villupuram', 'DISTRICT_Virudhunagar',
       'DISTRICT_Visakhapatnam', 'DISTRICT_Wayanad'],
      dtype='object')

In [400]:
columns_to_scale = ['LATITUDE', 'LONGITUDE', 'pH', 'EC', 'CO3', 'HCO3', 'Cl', 'SO4', 'NO3',
       'PO4', 'TH', 'Ca', 'Mg', 'Na', 'K', 'F', 'U(ppb)']

In [401]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

In [402]:
X=df.drop(['pH', 'EC', 'CO3', 'HCO3', 'Cl', 'SO4', 'NO3', 'PO4', 'TH', 'Ca', 'Mg', 'Na', 'K', 'F', 'U(ppb)'],
         axis=1)

In [403]:
y=df[['pH', 'EC', 'CO3', 'HCO3', 'Cl', 'SO4', 'NO3', 'PO4', 'TH', 'Ca', 'Mg', 'Na', 'K', 'F', 'U(ppb)']]

In [404]:
X

,LATITUDE,LONGITUDE,STATE_Andhra Pradesh,STATE_Kerala,STATE_TAMIL NADU,STATE_Telangana,DISTRICT_Allapuzha,DISTRICT_Chennai,DISTRICT_Cuddalore,DISTRICT_Dharmapuri,...,DISTRICT_Tirunelveli,DISTRICT_Tiruvallur,DISTRICT_Trissur,DISTRICT_Trivandrum,DISTRICT_Tuticorin,DISTRICT_Vellore,DISTRICT_Villupuram,DISTRICT_Virudhunagar,DISTRICT_Visakhapatnam,DISTRICT_Wayanad
67,0.958275,0.846452,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
68,0.955837,1.000001,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
69,0.955837,1.000001,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
70,0.906933,0.922495,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
71,0.919261,0.910317,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,0.945761,0.394617,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2500,0.950852,0.394875,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2501,0.932516,0.397085,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2502,0.940338,0.393645,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2503,0.972368,0.396407,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [405]:
y

,pH,EC,CO3,HCO3,Cl,SO4,NO3,PO4,TH,Ca,Mg,Na,K,F,U(ppb)
67,0.560720,0.019518,0.0,0.154054,0.006699,0.001860,0.088553,0.0,0.057333,0.061360,0.039924,0.004228,0.007463,0.113277,0.002471
68,0.620690,0.037400,0.0,0.170270,0.022466,0.004752,0.209503,0.0,0.062168,0.081260,0.032319,0.023089,0.082090,0.090960,0.002471
69,0.635682,0.133967,0.0,0.626126,0.082214,0.038489,0.401728,0.0,0.250701,0.303483,0.148289,0.053333,0.522388,0.167514,0.002471
70,0.622189,0.139076,0.0,0.637838,0.109598,0.034393,0.259179,0.0,0.250701,0.330017,0.129278,0.089106,0.097015,0.191243,0.002471
71,0.694153,0.070100,0.0,0.494595,0.027168,0.016801,0.118790,0.0,0.099230,0.104478,0.068441,0.056911,0.041045,0.449153,0.002471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,0.673164,0.039597,0.0,0.175676,0.032147,0.018006,0.032397,0.0,0.078282,0.074627,0.060837,0.022764,0.022761,0.234463,0.049424
2500,0.680660,0.022481,0.0,0.164865,0.006699,0.004752,0.090713,0.0,0.052499,0.074627,0.022814,0.008780,0.002239,0.155367,0.007508
2501,0.682159,0.016759,0.0,0.131532,0.004763,0.004752,0.053996,0.0,0.049276,0.064677,0.024715,0.002309,0.001119,0.158192,0.012513
2502,0.725637,0.013080,0.0,0.109910,0.004763,0.002342,0.051836,0.0,0.025106,0.021559,0.020913,0.011057,0.014179,0.276836,0.009384
2503,0.701649,0.029379,0.0,0.154054,0.004763,0.012945,0.123110,0.0,0.025106,0.034826,0.011597,0.026667,0.010448,0.389830,0.000000

In [406]:
from sklearn.model_selection import train_test_split

In [407]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=69)

In [408]:
X_train

,LATITUDE,LONGITUDE,STATE_Andhra Pradesh,STATE_Kerala,STATE_TAMIL NADU,STATE_Telangana,DISTRICT_Allapuzha,DISTRICT_Chennai,DISTRICT_Cuddalore,DISTRICT_Dharmapuri,...,DISTRICT_Tirunelveli,DISTRICT_Tiruvallur,DISTRICT_Trissur,DISTRICT_Trivandrum,DISTRICT_Tuticorin,DISTRICT_Vellore,DISTRICT_Villupuram,DISTRICT_Virudhunagar,DISTRICT_Visakhapatnam,DISTRICT_Wayanad
2501,0.932516,0.397085,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2176,0.408045,0.596517,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1581,0.063075,0.214618,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1456,0.175562,0.194730,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2457,0.920080,0.424320,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5010,0.226475,0.369663,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5136,0.041862,0.310748,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5171,0.510456,0.593955,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
487,0.970711,0.914704,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2417,0.133300,0.339995,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [409]:
y_train

,pH,EC,CO3,HCO3,Cl,SO4,NO3,PO4,TH,Ca,Mg,Na,K,F,U(ppb)
2501,0.682159,0.016759,0.0,0.131532,0.004763,0.004752,0.053996,0.0,0.049276,0.064677,0.024715,0.002309,0.001119,0.158192,0.012513
2176,0.590705,0.067750,0.0,0.143243,0.084150,0.011982,0.097192,0.0,0.147572,0.197347,0.074144,0.023415,0.000000,0.115819,0.014389
1581,0.095952,0.028204,0.0,0.000000,0.019506,0.001309,0.204968,0.0,0.019949,0.023217,0.012357,0.022195,0.030187,0.031073,0.000000
1456,0.775113,0.006080,0.0,0.020631,0.004763,0.000607,0.032397,0.0,0.006220,0.006633,0.004144,0.006179,0.023134,0.169492,0.000000
2457,0.650675,0.010934,0.0,0.088288,0.003657,0.004752,0.021598,0.0,0.031551,0.051410,0.009506,0.003252,0.010075,0.112994,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5010,0.712144,0.212140,0.0,0.836036,0.188155,0.057768,0.347732,0.0,0.286152,0.363184,0.157795,0.179512,0.059701,0.081921,0.018769
5136,0.698651,0.019926,0.0,0.219820,0.013615,0.001378,0.023758,0.0,0.067002,0.031509,0.074144,0.003252,0.126866,0.042373,0.000000
5171,0.622189,0.051655,0.0,0.308108,0.034084,0.005716,0.110151,0.0,0.067002,0.064677,0.051331,0.039024,0.126866,0.211864,0.038226
487,0.613194,0.016452,0.0,0.065766,0.010572,0.003065,0.092873,0.0,0.036385,0.051410,0.017110,0.006179,0.026119,0.062147,0.002471
2417,0.635682,0.094216,0.0,0.280180,0.117343,0.015114,0.101512,0.0,0.173354,0.177446,0.125475,0.048780,0.037313,0.121469,0.015953

In [410]:
X_train.shape

(932, 42)

In [411]:
y_train.shape

(932, 15)

In [412]:
X.shape

(1165, 42)

In [413]:
y.shape

(1165, 15)

In [414]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(units=42, activation='relu', input_shape=(42,)),
    tf.keras.layers.Dense(21, activation='relu'),
    tf.keras.layers.Dense(15, activation='softmax')
])

model.compile(optimizer='adam', 
              loss=tf.losses.mean_squared_error, 
              metrics=['accuracy'])

In [415]:
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
30/30 [==============================] - 1s 2ms/step - loss: 0.0337 - accuracy: 0.5268
Epoch 2/100
30/30 [==============================] - 0s 1ms/step - loss: 0.0241 - accuracy: 0.9571
Epoch 3/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0133 - accuracy: 0.9571
Epoch 4/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0120 - accuracy: 0.9571
Epoch 5/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0117 - accuracy: 0.9571
Epoch 6/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0115 - accuracy: 0.9571
Epoch 7/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0114 - accuracy: 0.9571
Epoch 8/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0113 - accuracy: 0.9571
Epoch 9/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0112 - accuracy: 0.9571
Epoch 10/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0112 - accuracy: 0.9571
Epoch 11/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0111 - accuracy: 0.9571
Epoch 12/100
30/30 [==============================] - 0s 1ms/step - loss: 0.0111 - accuracy: 0.9571
Epoch 13/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0111 - accuracy: 0.9571
Epoch 14/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0111 - accuracy: 0.9571
Epoch 15/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 16/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 17/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 18/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 19/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 20/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 21/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 22/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 23/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 24/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 25/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 26/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 27/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 28/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 29/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 30/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 31/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 32/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 33/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 34/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 35/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 0.9571
Epoch 36/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 37/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 38/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 39/100
30/30 [==============================] - 0s 4ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 40/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 41/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 42/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 43/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 44/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 45/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 46/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 47/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 48/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 49/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 50/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 51/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 52/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 53/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 54/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 55/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 56/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 57/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 58/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 59/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 60/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 61/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 62/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 63/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 64/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 65/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 66/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 67/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 68/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 69/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 70/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 71/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 72/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 73/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 74/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 75/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 76/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 77/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 78/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 79/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 80/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 81/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 82/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 83/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 84/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0109 - accuracy: 0.9571
Epoch 85/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 86/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 87/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 88/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 89/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 90/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 91/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 92/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 93/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 94/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 95/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 96/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 97/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 98/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 99/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571
Epoch 100/100
30/30 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 0.9571

In [416]:
model.evaluate(X_test, y_test)

8/8 [==============================] - 0s 1ms/step - loss: 0.0116 - accuracy: 0.9571

[0.011635365895926952, 0.9570815563201904]

In [417]:
predictions = model.predict(X_test)

8/8 [==============================] - 0s 2ms/step

In [418]:
predictions

array([[5.5292749e-01, 3.7015328e-04, 1.0680258e-04, ..., 2.3308057e-04,
        7.9564728e-02, 5.6195408e-05],
       [6.7360693e-01, 1.7095710e-03, 6.4792705e-04, ..., 1.8698412e-03,
        8.7287150e-02, 3.6330029e-04],
       [5.2226210e-01, 2.9292487e-04, 3.8678529e-05, ..., 1.6651294e-04,
        1.4864400e-01, 3.2564534e-05],
       ...,
       [5.6592697e-01, 4.6929428e-05, 8.4449166e-06, ..., 2.6541113e-05,
        1.1359740e-01, 4.5859870e-06],
       [5.0285381e-01, 1.0934403e-04, 2.2975495e-05, ..., 5.8639387e-05,
        1.8624943e-01, 1.6641052e-05],
       [7.2500575e-01, 1.3628652e-02, 1.1726296e-02, ..., 2.0613657e-02,
        4.0510565e-02, 3.7509459e-03]], dtype=float32)

In [419]:
model.save("saved_model/my_model")

INFO:tensorflow:Assets written to: saved_model/my_model/assets

In [420]:
import joblib
scaler_filename = "../scaler.save"
joblib.dump(scaler, scaler_filename)

['../scaler.save']